@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4 mb-4">Welcome to Expense Tracker</h1>
        <p class="lead">Manage your expenses with ease</p>
        <div class="mt-4">
            <a asp-action="Expenses" class="btn btn-primary btn-lg m-2">Overview</a>
            <a asp-action="CreateEditExpense" class="btn btn-success btn-lg m-2">Create New Expense</a>
        </div>
    </div>
</div>
